.wysiwyg {
    .note-editor {
        &.note-frame {
            border: none;
        }

        .panel-heading.note-toolbar {
            border: none;
            border-radius: 0;
            background: #FFF;
            border-bottom: 1px solid #cfcfcf;
            padding: 5px;

            .btn.dropdown-toggle {
                border: none;
            }

            .btn-group > .btn {
                border: none;
            }
        }
    }

    .note-statusbar {
        display: none;
    }
}

.accordion .editor-toolbar {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cfcfcf;
}

.accordion .CodeMirror {
    border-radius: 0;
    border: none;
}