a.grad_bt {
    background-color: #ebf6fd;
    border: 1px solid #7fc4f4;
    color: #44a4ee;
    text-align: center;
    border-radius: 6px;
    padding: 4px 10px;
    line-height: 10px;
    font-size: 12px;
}

a.grad_bt:hover {
    background-color: #83c3f5;
    color: #fff;
}

.kt-subheader--transparent .kt-subheader {
    background: $greyscaleAccent2;
}

.kt-subheader {

    &__main {
        .btn:not(.dropdown-toggle-split) {
            margin-right: 1em;
            font-size: 13px;
            font-weight: normal;
            line-height: 45px;
            font-size: 13px;
            letter-spacing: 0.5;
            height: auto;
        }
    }
}