
/**
**  Text color
*/

.font-red {
    color: #FF0000
}

.font-rhino {
    color: #2f4368;
}

.font-ash {
    color: #707070;
}

.font-nepal {
    color: #8DA9BB;
}

.bg-light-gray {
    background: #f7f7f7;
}

.bg-red {
    background: #FF0000;
}

.bg-white {
    background: #FFF;
}

.bg-light-blue {
    background: #e4f0f8;
}